<section>
  <div class="container">
    <h1></h1>
    <div class="row mt-5">

      <div class="col-md-4 p-2 d-flex justify-content-center">
        <a class="btn btn-dark">
          <div style="width: 10rem; height: 10rem;">
            <div class="card-body">
              <div class=" p-2 ">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text"></p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 p-2 d-flex justify-content-center">
        <a class="btn btn-dark">
          <div style="width: 10rem; height: 10rem;">
            <div class="card-body">
              <div class=" p-2 ">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">{{this.Description}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 p-2 d-flex justify-content-center">
        <a class="btn btn-dark">
          <div style="width: 10rem; height: 10rem;">
            <div class="card-body">
              <div class=" p-2 ">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">{{this.Description}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
      

    <h1></h1>
    
    <div class="row mt
    -5">

      <div class="col-md-4 p-2 d-flex justify-content-center">
        <a class="btn btn-dark">
          <div style="width: 10rem; height: 10rem;">
            <div class="card-body">
              <div class=" p-2 ">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">{{this.Description}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 p-2 d-flex justify-content-center">
        <a class="btn btn-dark">
          <div style="width: 10rem; height: 10rem;">
            <div class="card-body">
              <div class=" p-2 ">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">{{this.Description}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 p-2 d-flex justify-content-center">
        <a class="btn btn-dark">
          <div style="width: 10rem; height: 10rem;">
            <div class="card-body">
              <div class=" p-2 ">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">{{this.Description}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>