  <div class="main-content">
    <!-- Top navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12">
          <div class="card bg-light shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-12 d-flex justify-content-center">
                  <h3 class="text-center mb-0">EDIT STUDENT</h3>
                </div>
                
              </div>
            </div>
            
            <div class="card-body">
                <div class="row justify-content-center">
              <div class="col-lg-12 d-flex justify-content-center">
                <div class="card-profile-image co">
                  
                    <img id="imageview" style="height: 45mm; width: 35mm;" src="/images/students-images/{{student._id}}.jpg">
                    
                </div>

              </div>
            </div>
              <form id="edit-student-form" enctype="multipart/form-data">
              <input hidden name="studentId" class="form-control form-control-alternative" value="{{student._id}}">
              <div class="row d-flex justify-content-center">
                  <div class=" m-1 d-flex justify-content-center col-lg-12">
                      <input onchange="viewImage(event)" type="file" class="btn btn-secondary" name="StudentImage" > 
                  </div>
                  <div class=" d-flex justify-content-center col-lg-12">
                      <small class="form-text text-muted"><b>Upload dimension:</b> W: 35mm, H: 45mm</small>
                  </div>
              </div>
              
                <h6 class="heading-small text-muted mb-4">Personal information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Admission no</label>
                        <input onchange='inpchange2()'  name="AdmissionNo"  class="form-control form-control-alternative" value="{{student.AdmissionNo}}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Full name</label>
                        <input onchange='inpchange2()' name="Name"  type="text"  class="form-control form-control-alternative" value="{{student.Name}}" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" >Date of birth</label>
                        <input onchange='inpchange2()'  name="Dob"  type="date"  class="form-control form-control-alternative" value="{{student.Dob}}"  >
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label for="">Current class</label>
                        <select onchange='inpchange2()' required  class="form-control" name="Class">
                            <option value="{{student.Class}}" selected >Selected class {{student.Class}}</option>
                            <option value="UG 1">UG 1</option>
                            <option value="UG 2">UG 2</option>
                            <option value="UG 3">UG 3</option>
                            <option value="BS 4">BS 4</option>
                            <option value="BS 5">BS 5</option>
                            <option value="PG 1">PG 1</option>
                            <option value="PG 2">PG 2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" >Blood group</label>
                        <input onchange='inpchange2()' name="BloodGroup"  class="form-control form-control-alternative"  value="{{student.BloodGroup}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" >Address</label>
                        <textarea onchange='inpchange2()' name="Address"  class="form-control form-control-alternative">{{student.Address}}</textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" >State</label>
                        <input onchange='inpchange2()'  name="State" type="text"  class="form-control form-control-alternative" value="{{student.State}}" >
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" >Country</label>
                        <input onchange='inpchange2()' name="Country" type="text"  class="form-control form-control-alternative"  value="{{student.Country}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" >Postal code</label>
                        <input onchange='inpchange2()' name="Pincode"  class="form-control form-control-alternative"  value="{{student.Pincode}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Mobile</label>
                        <input onchange='inpchange2()' name="Mobile" type="tel"  class="form-control form-control-alternative" value="{{student.Mobile}}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Email</label>
                        <input onchange='inpchange2()' name="Email" type="email" class="form-control form-control-alternative" value="{{student.Email}}" >
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Guardian's Details -->
                <h6 class="heading-small text-muted mb-4">Guardian's information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Full name</label>
                        <input onchange='inpchange2()' name="Gname" type="text"  class="form-control form-control-alternative"  value="{{student.Gname}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Occupation</label>
                        <input onchange='inpchange2()' name="Goccupation" type="text"  class="form-control form-control-alternative" value="{{student.Goccupation}}" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Mobile</label>
                        <input onchange='inpchange2()' name="Gmobile" type="tel"  class="form-control form-control-alternative" value="{{student.Gmobile}}" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" >Email</label>
                        <input onchange='inpchange2()' name="Gemail" type="email"  class="form-control form-control-alternative" value="{{student.Email}}">
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row d-flex justify-content-center">
                     <button id="bt-save" type="submit" class="btn btn-success" disabled>Save changes</button>
                </div>

              </form>

              <h3 class="heading-small text-muted mb-4">Marks</h3>
                <h6 class="heading-small text-muted mb-4"></h6>

                <form id="mark-update-form">
                  <input hidden name="studentId" class="form-control form-control-alternative" value="{{student._id}}">
                  <div class="form-group col-lg-4">
                    <label>Semester:</label>
                    <select id="semester" onchange="change1('{{student._id}}')" required class="form-control"
                      name="Semester">
                      <option value="" selected disabled>Select semester</option>
                      <option value="Semester 1">Semester 1</option>
                      <option value="Semester 2">Semester 2</option>
                      <option value="Semester 3">Semester 3</option>
                      <option value="Semester 4">Semester 4</option>
                      <option value="Semester 5">Semester 5</option>
                      <option value="Semester 6">Semester 6</option>
                      <option value="Semester 7">Semester 7</option>
                      <option value="Semester 8">Semester 8</option>
                      <option value="Semester 9">Semester 9</option>
                      <option value="Semester 10">Semester 10</option>
                    </select>
                  </div>
                  <input hidden id="semInput">
                  <div class="row" id="markeditContainer">

                  </div>

                  <div class="d-flex justify-content-center m-2">
                    <button id="bt-update" type="submit" class="btn btn-success" disabled>Update</button>
                  </div>

                </form>
            </div
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="cover-spin"></div>