
<table class="table">
    <thead>
        <tr>
            <th scope="col">Admission no</th>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Mobile</th>
            <th scope="col">Photo</th>
        </tr>
    </thead>
    <tbody>
        {{#each students}}
        <tr>
            <td>{{this.AdmissionNo}}</td>
            <td>{{this.Name}}</td>
            <td>{{this.Class}}</td>
            <td>{{this.Mobile}}</td>
            <td><img class="rounded-circle" style="width: 50px; height: 50px;" src="/images/students-images/{{this._id}}.jpg" alt=""></td>
            <td></td>
            <td>
                <a href="/admin/add-marks?id={{this._id}}" class="btn btn-primary">Marks</a>
                <a href="/admin/edit-student?id={{this._id}}" class="btn btn-primary">Edit</a>
                <a href="/admin/delete-student?id={{this._id}}" class="btn btn-danger"
                    onclick="return confirm('Are you sure want to delete {{this.Name}}')">Delete</a>
            </td>
            <td>
                <a href="/admin/view-student?id={{this._id}}" class="btn btn-primary">View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
