<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>WIRAS- World Institute for Research in Advanced Sciences</title>

    <!--====== Favicon Icon ======-->
    <link rel="icon" href="/images/fav.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/css/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="/css/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&family=Montserrat:wght@400;800&family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap" rel="stylesheet">
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/css/responsive.css">

 
    

</head>

<body>
  <!--====== PRELOADER PART START ======-->

  <div class="preloader">
    <div class="loader rubix-cube">
      <div class="layer layer-1"></div>
      <div class="layer layer-2"></div>
      <div class="layer layer-3 color-1"></div>
      <div class="layer layer-4"></div>
      <div class="layer layer-5"></div>
      <div class="layer layer-6"></div>
      <div class="layer layer-7"></div>
      <div class="layer layer-8"></div>
    </div>
  </div>

  <!--====== PRELOADER PART START ======-->
  {{# if admin}}
  {{>admin-header}}
  {{else}}
  {{#if student}}
  {{>user-dashboard-header}}
  {{else}}
  {{#if login}}
  {{else}}
   {{#unless index}}
      {{>user-header}}
    {{/unless}}
    {{/if}}
    {{/if}}
  {{/if}}
  {{{body}}}
  {{#if login}}
  {{else}}
  {{>user-footer}}
  {{/if}}

  <!--====== jquery js ======-->
  <script src="/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="/js/vendor/jquery-1.12.4.min.js"></script>

  <!--====== Bootstrap js ======-->
  <script src="/js/bootstrap.min.js"></script>

  <!--====== Slick js ======-->
  <script src="/js/slick.min.js"></script>

  <!--====== Magnific Popup js ======-->
  <script src="/js/jquery.magnific-popup.min.js"></script>

  <!--====== Counter Up js ======-->
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>

  <!--====== Nice Select js ======-->
  <script src="/js/jquery.nice-select.min.js"></script>

  <!--====== Nice Number js ======-->
  <script src="/js/jquery.nice-number.min.js"></script>

  <!--====== Count Down js ======-->
  <script src="/js/jquery.countdown.min.js"></script>

  <!--====== Validator js ======-->
  <script src="/js/validator.min.js"></script>

  <!--====== Ajax Contact js ======-->
  <script src="/js/ajax-contact.js"></script>

  <!--====== Main js ======-->
  <script src="/js/script.js"></script>
  <script src="/js/main.js"></script>

  <!--====== Map js ======-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
  <script src="/js/map-script.js"></script>

 



</body>

</html>